.table-region {
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 12px var(--space-2);
  border-bottom: 1px solid var(--line);
}

tr:last-child td {
  border-bottom: 0;
}

@media (max-width: 767px) {
  td[style] {
    width: auto !important;
  }

  td + td {
    display: none;
  }

  td {
    padding: var(--space-2);
  }
}
